{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 53.823956010701785,
    "longitude": -0.9665581583976747,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "Europe/London",
    "external_url": null,
    "internal_url": null,
    "currency": "GBP",
    "country": "GB",
    "language": "en-GB",
    "radius": 100
  }
}